@page
@model TalentedKidsCommunity.Pages.Kids.IndexModel

@{
    ViewData["Title"] = "Enrolled Kids List";
}

<h1>Enrolled Kids List</h1>

<p>
    <a asp-page="Create">Enroll a new kid</a>
</p>

<form asp-page="./Index" method="get"> @* using http get method to allow passing the form data with query string not the message body ,thus enables users to bookmark the URL*@
    <div class="form-actions no-color">
        <p>
           Search Kids by First or last name :
            <input type="text" name="SearchString" value="@Model.CurrentFilter" />
            <input type="submit" value="Search" class="btn btn-primary" /> |
            <a asp-page="./Index">Back to full List</a>
        </p>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.LastNameSort" asp-route-currentFilter="@Model.CurrentFilter">
                    @* LastName column heading hyperlinks *@
                    @Html.DisplayNameFor(model => model.Kids[0].LastName)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.FirstNameSort" asp-route-currentFilter="@Model.CurrentFilter">
                    @* FirstName column heading hyperlinks *@
                    @Html.DisplayNameFor(model => model.Kids[0].FirstName)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.AgeSort" asp-route-currentFilter="@Model.CurrentFilter">
                    @* Age column heading hyperlinks *@
                    @Html.DisplayNameFor(model => model.Kids[0].Age)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.DateSort" asp-route-currentFilter="@Model.CurrentFilter">
                    @* EnrollmentDate column heading hyperlinks *@
                    @Html.DisplayNameFor(model => model.Kids[0].EnrollmentDate)
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Kids)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EnrollmentDate)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.KidID">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.KidID">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.KidID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.Kids.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Kids.HasNextPage ? "disabled" : "";
}

<a asp-page="./Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.Kids.PageIndex - 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-primary @prevDisabled">
    Previous
</a>
<a asp-page="./Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.Kids.PageIndex + 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-primary @nextDisabled">
    Next
</a>
