@page
@model TalentedKidsCommunity.Pages.Kids.IndexModel

@{
    ViewData["Title"] = "Kids List";
}

<h1>Kids List</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
@* Search form *@
<form asp-page="./Index" method="get"> @* using http get method to allow passing the form data with query string not the message body ,thus enables users to bookmark *@ the URL
    <div class="form-actions no-color">
        <p>
           Search by  First or last name :
            <input type="text" name="SearchString" value="@Model.CurrentFilter" />
            <input type="submit" value="Search" class="btn btn-primary" /> |
            <a asp-page="./Index">Back to full List</a>
        </p>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.NameSort">
                    @* LastName column heading hyperlinks *@
                    @Html.DisplayNameFor(model => model.Kids[0].LastName)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kids[0].FirstName)
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.AgeSort">
                    @* Age column heading hyperlinks *@
                    @Html.DisplayNameFor(model => model.Kids[0].Age)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.DateSort">
                    @* EnrollmentDate column heading hyperlinks *@
                    @Html.DisplayNameFor(model => model.Kids[0].EnrollmentDate)
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Kids)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EnrollmentDate)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.KidID">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.KidID">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.KidID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
