@page
@model TalentedKidsCommunity.Pages.Kids.IndexModel

@{
    ViewData["Title"] = "Kids List";
}

<h1>Kids List</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.NameSort">
                    @* LastName column heading hyperlinks *@
                    @Html.DisplayNameFor(model => model.Kids[0].LastName)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kids[0].FirstName)
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.AgeSort">
                    @* Age column heading hyperlinks *@
                    @Html.DisplayNameFor(model => model.Kids[0].Age)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.DateSort">
                    @* EnrollmentDate column heading hyperlinks *@
                    @Html.DisplayNameFor(model => model.Kids[0].EnrollmentDate)
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Kids)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EnrollmentDate)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.KidID">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.KidID">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.KidID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
